*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: #333;
  text-decoration: none;
}

body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  background-color: #036060;
  text-align: center;
}

h1 {
  font-size: 100px;
}

button {
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.row{
  width: 100%;
  float: left;
  padding: 0.5%;
}

.rowTop{
  width: 100%;
  float: left;
  padding: 0;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: #023a3a;
  }
  h1{
    font-size: 3em;
  }
}
